@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #142274;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-thai-looped);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-thai-looped), Arial, Helvetica, sans-serif;
}
